<h1>Restaurants#index</h1>

<h1>Welcome, User <%= current_user.id %>!</h1>

<h2> Where do you want to eat? </h2>


<%= form_with model: current_user do |f| %>
<%= f.label :City %>:
<%= f.text_field :location %><br>
<%= f.submit "Search for a restaurant" %>
<% end %>
