<h1>Restaurants#index</h1>

<h1>Welcome, User <%= current_user.id %>!</h1>

<h2> Where do you want to eat? </h2>

<button>  <%= link_to 'Get some food', new_restaurant_path %></button>

<%= form_with model: current_user do |f| %>
<%= f.label :City %>:
<%= f.text_field :location %><br>
<%= f.submit %>
<% end %>
