
<h1>  Your restaurant in <%= @user.location %>! </h1>

<iframe width="600" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_ID"] %>&q=<%= @place.formatted_address %>" allowfullscreen="allowfullscreen"></iframe>
<br>
<br>
<hr>

<%= form_with model: Restaurant.new do |f| %>
<%= f.text_field :name, :value => @place.name %><br>
<%= f.text_field :address, :value => @place.formatted_address %><br>
<%= f.submit "Save a restaurant" %>
<% end %>
<br>
<%= link_to 'Pick a new restaurant', new_restaurant_path %>
<hr>
