<div class="wrapper-new">
  <div class="left-new"></div>
  <div class="new-box"></div>
  <div class="one-new">
    <h1> Your restaurant in <%= @user.location %>! </h1>
  </div>
  <div class="two-new">
    <iframe width="300" height="300" frameborder="0" style="border:1px solid black"" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_ID"] %>&q=<%= @place.formatted_address %>" allowfullscreen="allowfullscreen"></iframe>
    <%#= image_tag(@url, size: "200x200") %>
  </div>

  <div class="three-new">
    <%= form_with model: Restaurant.new do |f| %>
    <%= f.text_field :name, :readonly => true, :value => @place.name, id: "place-name" %> <br>
    <%= f.hidden_field :address, :value => @place.formatted_address %><br>
    <%= f.label :Google_Rating, id: "google-rating" %>
    <%= f.text_field :rating, :readonly => true, :value => @place.rating %><br><br>
    <%= f.submit "Save restaurant" %>
  <% end %>

  </div>
<div class="new-rest-pic"></div>
<br>
</div>
</div>
