<div class="wrapper-new">
  <div class="left-new"></div>

  <div class="new-box"></div>
  <div class="one-new">
    <h1> Your restaurant in <%= @user.location %>! </h1>
  </div>
  <div class="web-new">
<% if @url != nil %>
  <div class="two-new">
    <div class="image-container">
    <%= image_tag(@url, size: "300x300") %>
    <iframe width="450" height="300" frameborder="0" style="border:1px solid black" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_ID"] %>&q=<%= @place.name.split().first %>, <%= @place.formatted_address %>&zoom=18" allowfullscreen="allowfullscreen"></iframe>
</div>
  </div>
  <% end %>

  <% if @url == nil %>
    <div class="two-new">
      <iframe width="800" height="300" frameborder="0" style="border:1px solid black" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_ID"] %>&q=<%= @place.name.split().first %>, <%= @place.formatted_address %>&zoom=18" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <% end %>
    </div>

    <div class="phone-new">
  <% if @url != nil %>
    <div class="two-new">
      <div class="image-container">
        <iframe width="275" height="200" frameborder="0" style="border:1px solid black" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_ID"] %>&q=<%= @place.name.split().first %>, <%= @place.formatted_address %>&zoom=17" allowfullscreen="allowfullscreen"></iframe>
        <br>
        <br>
        <%= image_tag(@url, size: "100x100") %>
  </div>
    </div>
    <% end %>

    <% if @url == nil %>
      <div class="two-new">
        <iframe width="200" height="200" frameborder="0" style="border:1px solid black" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_ID"] %>&q=<%= @place.name %>, <%= @place.formatted_address %>&zoom=18" allowfullscreen="allowfullscreen"></iframe>
      </div>
      <% end %>
      </div>


  <div class="three-new">

    <%= form_with model: Restaurant.new do |f| %>
    <%= f.text_field :name, :readonly => true, :value => @place.name, id: "place-name" %> <br>
    <%= f.hidden_field :address, :value => @place.formatted_address %><br>
    <%= f.label :Google_Rating, class: "phone-new", id: "google-rating" %>
    <%= f.text_field :rating, :readonly => true, :value => @place.rating, class: "phone-new", id: "google-rating-number" %>
    <%= f.submit "Save restaurant" %>
  <% end %>

  </div>
<br>

</div>
</div>
